
QGroupBox {
    border: 2px solid gray;
    }

QPushButton#SaveBtn{color:black;
            background-color:rgb(135, 206, 235);
            border-radius:6px}
QPushButton#ExitBtn{color:black;
            background-color:rgb(135, 206, 235);
            border-radius:6px}
QPushButton:hover{color:red}
QPushButton:pressed{background-color:rgb(180,180,180);border: None;}


#MainWindow{border-image:url(UIProgram/ui_imgs/bg21.png)}